@page "/fetchdata"
@using System.Text.Json.Serialization
@using System.Net.Http
@inject HttpClient Http

<p>This component demonstrates fetching data from the Ergast.com API.</p>


@if (Seasons == null)
{
    <h4>Loading...</h4>
}
else
{
<table class="table">
    <thead>
        <tr>
            <th>Year of season</th>
            <th>Url</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var season in Seasons)
        {
            <tr>
                <td>@season.season</td>
                <td><a href="@season.url" target="_blank">Wiki</a></td>
            </tr>
        }
    </tbody>
</table>
}
    


@code {
    private FetchedData fetchedData;
    private Season[] Seasons;
    private string content;
    protected override async Task OnInitializedAsync()
    {
        fetchedData = await Http.GetFromJsonAsync<FetchedData>("api/f1/seasons.json");
        Seasons = fetchedData.MRData.SeasonTable.Seasons;
    }

    public async Task GetSeasons()
    {
        fetchedData = await Http.GetFromJsonAsync<FetchedData>("api/f1/seasons.json");
        Seasons = fetchedData.MRData.SeasonTable.Seasons;
    }

    public class FetchedData
    {
        public MrData MRData { get; set; }
    }

    public class MrData
    {
        public string Xmlns { get; set; }
        public string Series { get; set; }
        public string Url { get; set; }
        public string Limit { get; set; }
        public string Offset { get; set; }
        public string Total { get; set; }
        public SeasonTable SeasonTable { get; set; }
    }

    public class SeasonTable
    {
        public Season[] Seasons { get; set; }
    }

    public class Season
    {
        public string season { get; set; }
        public string url { get; set; }
    }
}
