@page "/"
@using System.Runtime.CompilerServices
@using System.Security.Cryptography.X509Certificates

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@{


}